
.artist {
  border-radius: var(--border-radius-l);
  margin: 0 10px 10px;
  overflow: hidden;
}

.artist__header {
  --_shade: hsl(0deg 0% 0% / 25%);

  display: flex;
  align-items: end;
  padding: 25px;
  height: 40svh;
  background-size: cover;
  background-position-y: 20%;
  background-image: linear-gradient(to bottom, var(--_shade), var(--_shade)),
    url(https://i.scdn.co/image/ab67618600001016909a162796dbc3629a1fadeb);
}

.artist__title {
  font-size: 96px;
}

.artist__body {
  padding: 39px 25px;
  background-image: linear-gradient(
    to bottom,
    var(--green-900),
    var(--green-950)
  );
  display: flex;
  flex-direction: column;
  gap: 25px;
}

@media (max-width: 1280px) {
  .artist__title {
    font-size: 7.5vw;
    line-height: 100%;
  }
}

@media (max-width: 480px) {
  .artist__title {
    font-size: 36px;
  }

  .artist__header {
    padding: 16px;
  }

  .artist__body {
    padding: 25px 16px;
    gap: 16px;
  }
}