
.item-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 130%;
}

.item-list__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(172px, 1fr));
}

@media (max-width: 480px) {
  .item-list {
    gap: 20px;
  }

  .item-list__container {
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .item-list__header {
    flex-direction: column;
    gap: 10px;
  }
}